<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.esteban.aplicacion_final">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplicacion_final"
        tools:targetApi="31">
        <activity
            android:name=".producto.CrearProducto"
            android:exported="false" />
        <!-- Actividad de Pantalla de Carga -->
        <activity
            android:name=".pantalla_carga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".usuario.LoginUsuarioActivity"></activity> <!-- Actividad de Registro de Almacén -->
        <activity android:name=".usuario.RegistroUsuarioActivity"></activity> <!-- Actividad de Inicio de Sesión (Almacen) -->
        <activity android:name=".almacen.LoginAlmacenActivity"></activity> <!-- Actividad de Registro de Almacén -->
        <activity android:name=".almacen.RegistroAlmacenActivity"></activity> <!-- Actividad Principal -->
        <activity android:name=".usuario.MainActivityUsuario"></activity>
        <activity android:name=".almacen.MainActivityAlmacen"></activity>
    </application>

</manifest>